@font-face {
    font-family: ManaFont;
    src: url(manaspc.ttf);
}

body {
  background: url(secret-of-mana.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
    background: rgba(0, 51, 153, .6);
    border:white 3px double;
    margin-top: 20px;
    font-family: ManaFont
}


.gifDiv {
    background-color: white;
    text-align: center;
}

.rating {
    font-size: 1.5em;
}

img {
    width:100%
}

.gameButton {
    background: none;
    border: none;
    margin: 5px;
    color: white;
}