body {
  background: url(secret-of-mana.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
    background: rgba(0, 51, 153, .6);
    border:white 3px double;
    margin-top: 20px;
}

.btn {
    margin: 5px;
}

